<div class="col-sm-12">
  <h2>Edit Account Details</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.input :first_name, input_html: {class: 'form-control'}, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :last_name, input_html: {class: 'form-control'}, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :email, input_html: {class: 'form-control'}, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :password, input_html: {class: 'form-control'}, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation, input_html: {class: 'form-control'}, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :current_password, input_html: {class: 'form-control'}, required: true %>
    </div>
    <br>
  
    <%= f.button :submit, :class => 'btn btn-success' %>
  
  <% end %>

  <h2>Cancel Account</h2>
    
  <p><%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger' %></p>
</div>
